//colores de fondo y supreficie
$backgroundDark: #0f0f0f;

// colores de texto
$textColorDark: #0f0f0f;
$textColorLight: #fafafa;
$textColorGrey: #8d8d8d;

//colores base de la aplicacion
$primaryColor:#ec6739;