* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', Arial;
    background-color: $backgroundDark;
    font-size: 14px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}